<h1>My Character Types</h1>
<p>
  This is the home page for the
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
  <%= link_to 'Log In', login_path %>
  <%= link_to 'Create Account', signup_path %>
</p>
